


.wrapper {
    display: grid;
    grid-template-areas:
            "left1 middle right"
            "left2 middle right" "down down down";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    /*grid-gap: 2em;*/


}
.leftSidePartOne {
    grid-area: left1;
}

.leftSidePartTwo {
 grid-area: left2;
}


.rightSide {
    grid-area: right;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middleSide {
    grid-area: middle;
}

.downSide {
    grid-area: down;
}

.middleSide p {

    margin: 0.4em;
}



.header {
    background-color: #d8b56b;
}

.firstWord {
    font-weight: bold;
}


.content h2 {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 1em;
}

.content h1 {
    display: flex;
    text-align: center;
    justify-content: center;

}

.headerWrapper {
    background-color: #d8b56b;
}

.companionButton{
    border: none;
    outline: 0;
    cursor: pointer;
    background-color: #d8b56b;
    border-radius: 15px;
    font-size: 0.9em;
    font-weight: 800;
    padding: 4px 8px;
    display: inline-block;
    max-width: 12em;
    }


.showCardsButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    color: darkred;

}
.showCardsButton:hover {
    color: darkgreen;
}

.rightSide img {
    max-width: 25em;
max-height: 37.5em;

}

.imageSlider {
    width: 21em;


}

.imageSlider img {
    height: 20em;
max-width: 40em;

}

.fanStatsHeader {
    display: flex;
    justify-content: center;
    width: 12.5em;
    margin-top: 2em;
    background-color: #d8b56b;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}


.leftSide p {
margin: 0.4em;
}

.headerMain {
    color: #e8ccc6;
    background-color: #3f35a0;

}

.downSide p {
    margin: 1em;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.quote{
    margin-top: 1em;
    font-style: italic;
font-size: 1em;
    max-width: 14em;
}

@media (max-width: 550px) {
    .cards img {
        max-width: 150px;
    }

    .rightSide img {
        height: 200px;
    }

    .quote {

        font-size: 0.9em;
        margin-right: 10px;
    }


  .imageSlider {
width: 10em;
  }

    .imageSlider img {
        max-height: 20em;
        max-width: 40em;

    }

    /*Adaptive grid*/

    .wrapper {
        display: grid;

        grid-template-areas:
                "left right"
                "middle right "
                "left2 left2"
                "down down";
        grid-template-rows: 1fr;
        grid-template-columns: 10.1em 1fr;
        grid-gap: 0;
    }

    .rightSide {
grid-area: right;

    }

    .leftSidePartOne {
        grid-area: left;
    }

    .leftSidePartTwo {
   grid-area: left2;

    }

.companionButton{
    padding: 5px 8px;
}

    .middleSide {
        grid-area: middle;
    }

    .downSide {
        grid-area: down;
    }


}

/*my color for headings*/
/*background-color: #d8b56b;*/
/* font color navbar      color: #e8ccc6;*/
/* navbar   background-color: #111924;*/