


.wrapper {
    display: grid;
    grid-template-areas: "l m r" "d d d";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;


}
.leftSide {
    grid-area: l;
}

.rightSide {
    grid-area: r;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middleSide {
    grid-area: m;

}

.middleSide p {
    margin: 0.4em;
}

.downSide {

    grid-area: d;
}

.header {
    background-color: #d8b56b;
}

.firstWord {
    font-weight: bold;
}

.content h2 {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 1em;
}

.content h1 {
    display: flex;
    text-align: center;
    justify-content: center;

}

.headerWrapper {
    background-color: #d8b56b;
}

.companionButton{
    border: none;
    outline: 0;
    cursor: pointer;
    background-color: #d8b56b;
    border-radius: 50px;
    font-size: 0.9em;
    font-weight: 800;
    padding: 4px 8px;
    display: inline-block;
    min-height: 28px;}


.showCardsButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    color: darkred;

}
.showCardsButton:hover {
    color: darkgreen;
}

.rightSide img {
    max-width: 500px;
max-height: 500px;
}

.fanStatsHeader {
    display: flex;
    justify-content: center;
    width: 200px;
    margin-top: 2em;
    background-color: #d8b56b;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}


.leftSide p {
margin: 0.4em;
}

.headerMain {
    color: #e8ccc6;
    background-color: #3f35a0;

}

.downSide p {
    margin: 1em;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.quote{
    font-style: italic;
font-size: 1em;
}

@media (max-width: 550px) {
    .cards img {
        max-width: 150px;
    }

    .rightSide img {
        max-height: 200px;
    }



    .wrapper {
        display: grid;
        grid-template-areas:
                "l r"
                "l  m"
                "d d";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;

    }


}

/*my color for headings*/
/*background-color: #d8b56b;*/
/* font color navbar      color: #e8ccc6;*/
/* navbar   background-color: #111924;*/