


.wrapper {
    white-space: pre-wrap;
    display: grid;
    grid-template-areas:
            "leftgap left1 middle right rightgap"
            "leftgap left2 middle right rightgap"
            "down  down down down down";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    /*grid-gap: 2em;*/

}

    .leftSideGap {
        z-index: 1;
        grid-area: leftgap;
    }


.leftSideGap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.rightSideGap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



.rightSideGap {
    /*margin-left: -1em;*/
    /*margin-right: -5em;*/
    grid-area: rightgap;
}



.leftSidePartOne {
    display: flex;
    gap: 0.2em;
    flex-direction: column;
    grid-area: left1;
    margin-left: 0.6em;
}

.leftSidePartTwo {
    display: flex;
    flex-direction: column;
 grid-area: left2;
    gap: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 2em;
    margin-left: 0.6em;
}


.rightSide {
    display: flex;
    flex-direction: column;
    grid-area: right;
    margin-left: 0.6em;
    align-items: center;
    margin-bottom: 2em;
}

.middleSide {

    justify-self: center;
    display: flex;
    flex-direction: column;
    grid-area: middle;
    margin-left: 0.6em;
    gap: 0.2em;
    margin-bottom: 2em;
}

.downSide {
    grid-area: down;
    text-align: justify;
}



.firstWord {
    font-weight: bold;
}

.firstMainWord{
    display: flex;
    justify-content: flex-start;
}


.content h2 {
    display: flex;
    text-align: center;
    justify-content: center;

}

.content h1 {
    display: flex;
    text-align: center;
    justify-content: center;

}

.headerWrapper {
    background-color: #d8b56b;
}

.companionButton{
    border: none;
    outline: 0;
    cursor: pointer;
    background-color: #d8b56b;
    border-radius: 15px;
    font-size: 0.9em;
    font-weight: 800;
    padding: 4px 8px;
    display: inline-block;
    max-width: 12em;
    }


.showCardsButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    color: darkred;

}
.showCardsButton:hover {
    color: darkgreen;
}

.rightSide img {
    height: 1000px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    max-width: 25em;
max-height: 37.5em;

}

.imageSlider {
    width: 21em;


}

.imageSlider img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;


}

.fanStatsHeader {
    margin-left: -1.7em;
    display: flex;
    justify-content: center;
    width: 12.5em;
    margin-top: 2em;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}


/*.leftSide p {*/
/*margin: 0.4em;*/
/*}*/

/*.headerMain {*/
/*    color: #e8ccc6;*/
/*    background-color: #3f35a0;*/
/*}*/

.downSide p {
    margin: 0.5em;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards img {
    max-width: 14em;
    cursor: pointer;
}


.quote{
    margin-top: 1em;
    font-style: italic;
font-size: 1em;
    max-width: 14em;
}

@media (max-width: 550px) {
    .cards img {
        max-width: 150px;
    }

    .firstMainWord{
        display: flex;
        justify-content: center;
        margin-bottom: 0.2em;
        margin-top: 0.2em;
    }

    .rightSide img {
        height: 200px;
    }

    .quote {
        font-size: 0.9em;
        margin-right: 10px;
    }


  .imageSlider {
width: 10em;
  }

    .imageSlider img {
        max-height: 20em;
        max-width: 40em;

    }

    /*Adaptive grid*/

    .wrapper {
        display: grid;

        grid-template-areas:
                "left right"
                "middle right "
                "left2 left2"
                "down down";
        grid-template-rows: 1fr;
        grid-template-columns: 10.1em 1fr;
        grid-gap: 0;
    }

    .rightSide {
grid-area: right;

    }

    .leftSidePartOne {
        grid-area: left;

    }

    .leftSidePartTwo {
   grid-area: left2;


    }

.companionButton{
    padding: 5px 8px;
}

    .middleSide {
        margin-top: 1em;
        grid-area: middle;


    }

    .downSide {
        grid-area: down;
    }


}

/*my color for headings*/
/*background-color: #d8b56b;*/
/* font color navbar      color: #e8ccc6;*/
/* navbar   background-color: #111924;*/