
.main{
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar {


}


.expansionsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.expansionsList li {
    list-style: none;
}