.App {
    display: grid;
    grid-template-areas: "h h"
"n c";
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 10fr;
}

.header {
    grid-area: h;
    background-color: blueviolet;
    padding: 1em;
    height: 5em;
}

.nav {
    height: 10em;
    grid-area: n;
    background-color: red;
    padding: 1em;
    text-align: justify;
}

.content {
    grid-area: c;
    background-color: antiquewhite;
    padding: 1em;
}