
.content {
    white-space: pre-wrap;
    text-align: justify;
}

.disclaimer {
    font-size: 0.7em;
}

.feedback {
    display: flex;
    justify-content: center;
}


.header {
    background-color: #d8b56b;
    display: flex;
    justify-content: center;
}

.headerEmpty {
    margin: 2em 0;
    height: 0.8em;
    background-color: #d8b56b;
    display: block;
}