
.content {
    white-space: pre-wrap;
    text-align: justify;
}

.disclaimer {
    font-size: 0.7em;
}

.feedback {
    display: flex;
    justify-content: center;
}

.header {
    background-color: #d8b56b;
    display: flex;
    justify-content: center;
}